header {
    background-color: #ffffff;
    display: flex;
    position: sticky;
    text-align: center;
    justify-content: space-between;
    padding: 20px 20px;
    width: 100%;
    top: 0;
    z-index: 1000;

    font-family: 'Lato', sans-serif;
}
header > nav {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 0 10%;
    align-self: center;
}
header h2 {
    font-size: 2em;
    font-weight: 500;
    margin-left: 30px;
}
header a {
    font-weight: 450;
    text-decoration: none;
    color: rgb(36, 35, 41);
    transition: transform 0.2s ease;
}
header a:hover {
    transform: scale(1.2);
}