h2 {
    font-size: 1.7em;
    font-weight: 600;
    margin: 20px;
    
}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; 
    transition: transform 0.2s ease;
}

.recipe h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333333;
    text-align: center;
}

.recipe img {
    width: 100%;
    max-width: 250px; 
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe p {
    font-size: 1em;
    margin-top: 8px;
    color: #666666;
    text-align: center;
}

.recipe:hover {
    transform: scale(1.05); 
}


.recipe a {
    text-decoration: none;
    color: inherit; 
}

.recipe a:hover {
    text-decoration: none; 
}